version: 2.1

#Repeatable Python Executor
executors:
  python-executor:
    docker:
      - image: cimg/python:3.12

#Modular Commands 
commands:
  setup-uv:
    description: "Installs and configures uv - our package manager"
    steps:
      - run: 
          name: Install uv
          command: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> $BASH_ENV
            source $BASH_ENV
  
  install-dependencies:
    description: "Use UV to install the dependencies"
    steps:
      - run:
          name: Sync dependencies
          command: uv sync --all-packages
jobs:
  lint:
     test:
      executor: python-executor
      steps:
        - checkout
        - setup-uv
        - install-dependencies
        - run:
            name: Run unit + integration tests (exclude e2e)
            command: |
              mkdir -p test-results/pytest
              uv run pytest -m "not e2e" --junitxml=test-results/pytest/junit.xml
        - store_test_results:
            path: test-results
        - store_artifacts:
            path: test-results
        - store_artifacts:
            path: coverage.xml
workflows:
  version: 2
  main:
    jobs:
      - lint
      - test
