version: 2.1

#Repeatable Python Executor
executors:
  python-executor:
    docker:
      - image: cimg/python:3.14.3

orbs:
  aws-cli: circleci/aws-cli@5.4.1
#Modular Commands 
commands:
  setup-uv:
    description: "Installs and configures uv - our package manager"
    steps:
      - run: 
          name: Install uv
          command: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> $BASH_ENV
            source $BASH_ENV
  
  install-dependencies:
    description: "Use UV to install the dependencies"
    steps:
      - run:
          name: Sync dependencies
          command: uv sync --all-packages
  aws-setup:
    description: "Set up AWS CLI with the provided credentials"
    steps:
      - aws-cli/setup:
          role_arn: ${AWS_ROLE_ARN}
          region: ${AWS_REGION}
          role_session_name: "ospsd-session"
          session_duration: "1800"

jobs:
  lint:
    executor: python-executor
    steps:
      - checkout
      - setup-uv
      - install-dependencies
      - run: 
          name: Ruff Check
          command: |
            uv run ruff check 
  test:
    executor: python-executor
    steps:
      - checkout
      - setup-uv
      - install-dependencies
      - aws-setup
      - run: 
          name: Verify AWS auth
          command: |
            uv run python -c "
            import os
            from aws_client_impl.aws_client_impl.s3_client import S3Client
            client =S3Client(bucket_name=os.environ['AWS_BUCKET_NAME'])
            print('AWS authentication successful')
            "
          
workflows:
  version: 2
  main:
    jobs:
      - lint
      - test
      
